@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:  'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
    
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: #fff;
    text-align: center;
    

}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;

}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
}

.imagem p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.295);
}

footer{
    background-color: black;
    color: white;
    padding: 8px;

}

footer h4{
    text-align: center;
    margin: 0px;
    padding: 0px;
    
}